<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Home Page</title>
</head>
<body>
    <div id="content">
        <h1>Welcome to home page from team 4</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur,
          ratione!
        </p>
        Welcome to home page from team 4
    </div>
    <script>
        console.log("Home page");
    </script>
    <script>
        console.log("second home page script");
    </script>
</body>
</html>